// Mobile-first

@mixin minw($pixels)
  @media (min-width: $pixels/16+em)
    @content

@mixin minh($pixels)
  @media (min-height: $pixels/16+em)
    @content

// Desktop-first

@mixin maxw($pixels)
  @media (max-width: $pixels/16+em)
    @content

@mixin maxh($pixels)
  @media (max-height: $pixels/16+em)
    @content

// Letter H white stroke around

@function stroke($stroke, $color)
  $shadow: ()
  $from: $stroke*-1
  @for $i from $from through $stroke
   @for $j from $from through $stroke
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma)

  @return $shadow

@mixin stroke($stroke, $color)
  text-shadow: stroke($stroke, $color)

@mixin bottom-info
  position: absolute
  bottom: 0
  padding-bottom: 10px
  text-align: center
  left: 10px
  p
    margin: 1vh 0 0 0


@mixin sidebar-nav
  .stripes
    .right-stripe
      .up-down-nav
        display: block
        position: absolute
        bottom: 30px

        .material-icons
          font-size: 2em
          cursor: pointer
          @include maxw(650)
            font-size: 32px

@mixin container
  &::-webkit-scrollbar
    display: none
  position: absolute
  top: 73px
  left: 82px
  width: calc(100vw - 210px)
  height: calc(100vh - 199px)
  @include maxh(750)
    width: calc(100vw - 137px)
    height: calc(100vh - 103px)
    left: 9px
  @include maxh(600)
    top: 57px
    height: calc(100vh - 87px)
  @include maxw(650)
    overflow: scroll
    width: calc(100vw - 50px)
    height: calc(100vh - 96px)
    left: 9px
    top: 57px

@mixin portfolio-button
  .portfolio
    position: absolute
    bottom: 20px
    left: 50px
    a
      font-family: satisfy
      font-size: 1.5em
      color: white
      &:hover
        color: $houtRed
    @include maxw(960)
      left: 20px
    @include maxw(650)
      width: 50%
      position: relative
      padding-top: 20px

@mixin chapter-title
  padding: 20px 30px 0 0
  h1
    font-family: satisfy
    text-align: right
    margin: 0
  @include maxw(1350)
    padding: 20px 30px 0 0
  @include maxw(650)
    padding: 10px
    h1
      font-size: 1.7em
