.art-graphic-portfolio
  .art-bier-fabriek-delft
    .delft-art-1
      img(alt="Plowing" src="/assets/img/art/delft/plowing.jpg")
    .delft-art-2
      img(alt="Country Side" src="/assets/img/art/delft/countryside.jpg")
    .delft-art-3
      img(alt="Party" src="/assets/img/art/delft/party.jpg")
    .delft-art-4
      img(alt="Ceiling" src="/assets/img/art/delft/ceiling.jpg")
    .info
      p.client Client: BierFabriek
      p.position Position: Delft
      p.status Status: Realized
      p.date Date: April 2014

  .art-bier-fabriek-amsterdam
    .amsterdam-art-1
      img(alt="Work in Progress" src="/assets/img/art/amsterdam/wip.jpg")
    .amsterdam-art-2
      img(alt="Chicken" src="/assets/img/art/amsterdam/chicken.jpg")
    .info
      p.client Client: BierFabriek
      p.position Position: Amsterdam
      p.status Status: Realized
      p.date Date: December 2013
