.portfolio
  div#pg1.art-bier-fabriek-delft.in-view
    .tiles
      .delft-art-1
        img(alt="Plowing" src="/assets/img/art/delft/plowing.jpg")
      .delft-art-2
        img(alt="Country Side" src="/assets/img/art/delft/countryside.jpg")
      .delft-art-3
        img(alt="Party" src="/assets/img/art/delft/party.jpg")
    .delft-art-4
      img(alt="Ceiling" src="/assets/img/art/delft/ceiling.jpg")
    .info
      p.client BierFabriek
      p.position Delft
      p.date April 2014

  div#pg2.art-bier-fabriek-amsterdam
    .amsterdam-art-1
      img(alt="Work in Progress" src="/assets/img/art/amsterdam/wip.jpg")
    .amsterdam-art-2
      img(alt="Chicken" src="/assets/img/art/amsterdam/chicken.jpg")
    .info
      p.client BierFabriek
      p.position Amsterdam
      p.date December 2013
