.content
  .about
    .title
      h2
        |We can work it 
        span h
        |out 
    .description 
      p was founded in Amsterdam in 2013 with the mission of researching architectural solutions to create and renovate interiors or objects. With its strong eye for detail and artisitic inspiration, We Can Work It Hout is able to personalize each client's request in an unique way.
    .operating-areas
      p Our WORK can be divided in three major areas:
      .areas
        ul
          li
            a(href="#") Interior Design
          li
            a(href="#") Design
          li
            a(href="#") Art and Graphics

    .we-define-it
      p We define it...
      
  .interior-design
    h1 interior design
    .analysis
      h3 analysis:
      p Analysis of an ambient both under an aesthetic and functional perspective, with the aim of conveing the right sensation expressed by the customer and creating practical solutions to live and work in harmony within the surrounding environment.
    .project
      h3 project:
      p Development of a 3D layout that represents the first step to tell our clients that...
      p(id="WeCanWorkItHout")
        |we can work it 
        span h
        |out!
    .realization
      h3 realization:
      p This is the phase where our ideas are turned into reality, always with our peculiar attention to detail.

  .interior-design-lozio
    .lozio-img-1
      img(alt="L'ozio logo" src="/assets/img/interior/lozio/lozio3.jpg")
    .lozio-img-2
      img(alt="L'ozio" src="/assets/img/interior/lozio/lozio2.jpg")
    .lozio-img-3
      img(alt="L'ozio" src="/assets/img/interior/lozio/lozio1.jpg")
    .lozio-info
      p.client Client: L'ozio
      p.position Position: Amsterdam
      p.status Status: Realized
      p.date Date: July 2014

  .interior-design-marhaba
    .marhaba-img-1
      img(alt="Marhaba" src="/assets/img/interior/marhaba/marhaba1.jpg")
    .marhaba-img-2
      img(alt="Marhaba" src="/assets/img/interior/marhaba/marhaba2.jpg")
    .marhaba-img-3
      img(alt="Marhaba" src="/assets/img/interior/marhaba/marhaba3.jpg")
    .marhaba-info
      p.client Client: Eethuis Marhaba
      p.position Position: Amsterdam
      p.status Status: Realized
      p.date Date: November 2013

  .interior-design-private
    .private-img-1
      img(alt="Private" src="/assets/img/interior/private/private1.jpg")
    .private-img-2
      img(alt="Private" src="/assets/img/interior/private/private2.jpg")
    .private-img-3
      img(alt="Private" src="/assets/img/interior/private/private3.jpg")
    .private-info
      p.client Client: Private
      p.position Position: Amsterdam
      p.status Status: Realized
      p.date Date: March 2014
      
  .design
    .title
      h1 design
    .description
      p Analysis, project development and realization of objects that are aesthetically and functinally tailored to the context. We aim to deliver the idea of brand imprinting through our design, which will in turn exhibit proffesionality and character.
  
  .design-articles
    .clipboard-draw
      img(alt="Bill Clipboard" src="/assets/img/design/articles/clipboard.png")
    .reserved-draw
      img(alt="Reserved" src="/assets/img/design/articles/reserved.png")
    .cutting-board-draw
      img(alt="Cutting Board" src="/assets/img/design/articles/cuttingboard.png")
    .clipboard-pic
      img(alt="Bill Clipboard" src="/assets/img/design/articles/clipboard.jpg")
    .reserved-pic
      img(alt="Reserved" src="/assets/img/design/articles/reserved.jpg")
    .cutting-board-pic
      img(alt="Cutting Board" src="/assets/img/design/articles/cuttingboard.jpg")
    
  .design-bier-fabriek-1
    .bacheca-draw
      img(alt="Bacheca" src="/assets/img/design/bierfabriek/bacheca.png")
    .barrel-draw
      img(alt="Barrel" src="/assets/img/design/bierfabriek/barrel.png")
    .barrel-pic
      img(alt="Barrel" src="/assets/img/design/bierfabriek/barrel.jpg")
    .bacheca-pic
      img(alt="Bacheca" src="/assets/img/design/bierfabriek/bacheca.jpg")
    .info
      p.client Client: BierFabriek
      p.position Position: Amsterdam
      p.status Status: Realized
      p.date Date: June 2014
    
  .design-bier-fabriek-2
    .photo
      img(alt="BierFabriek" src="/assets/img/design/bierfabriek/bierfabriek.jpg")
    .info
      p.client Client: BierFabriek
      p.position Position: Amsterdam
      p.status Status: Realized
      p.date Date: June 2014
      
  .art-and-graphic
    .title
      h1 art and graphic
    .description
      p Evaluating and Developing environments under an artistic prospective is our strenght. This is why we love to enrich and expand our projects with well-contextualized artisitic installations that give further carachter to our work.
      
  .art-bier-fabriek-delft
    .delft-art-1
      img(alt="Plowing" src="/assets/img/art/delft/plowing.jpg")
    .delft-art-2
      img(alt="Country Side" src="/assets/img/art/delft/countryside.jpg")
    .delft-art-3
      img(alt="Party" src="/assets/img/art/delft/party.jpg")
    .delft-art-4
      img(alt="Ceiling" src="/assets/img/art/delft/ceiling.jpg")
    .info
      p.client Client: BierFabriek
      p.position Position: Delft
      p.status Status: Realized
      p.date Date: April 2014
      
  .art-bier-fabriek-amsterdam
    .amsterdam-art-1
      img(alt="Work in Progress" src="/assets/img/art/amsterdam/wip.jpg")
    .amsterdam-art-2
      img(alt="Chicken" src="/assets/img/art/amsterdam/chicken.jpg")
    .info
      p.client Client: BierFabriek
      p.position Position: Amsterdam
      p.status Status: Realized
      p.date Date: December 2013
      
  .reviews-page-1
    .title
      h1 reviews
    .entree
      img(alt="de Entree" src="/assets/img/reviews/entree.jpg")
    .bierfabriek-delft
      img(alt="Bier Fabriek Delft" src="/assets/img/reviews/delft.jpg")
    .info
      p.reviewer Entree Magazine
      p.position Position: Nederland
      p.date Date: July 2014
      
  .reviews-page-2
    .giuseppe
      img(alt="Giuseppe Carli" src="/assets/img/reviews/giuseppe.jpg")
    .genius
      img(alt="Genius Magazine" src="/assets/img/reviews/genius.jpg")
    .info
      p.reviewer Genius-online
      p.position Position: Italian website
      p.date Date: June 2014
      
  .customers
    .title
      h1 some of the customers
    .logos
      .bacaro
        img(alt="al Bacaro" src="/assets/img/customers/bacaro.jpg")
      .marhaba
        img(alt="Marhaba" src="/assets/img/customers/marhaba.jpg")
      .lozio
        img(alt="l'Ozio" src="/assets/img/customers/lozio.jpg")
      .bierfabriek-ams
        img(alt="Bier Fabriek Amsterdam" src="/assets/img/customers/bierfabriek-ams.jpg")
      .besseling
        img(alt="Jeroen Besseling" src="/assets/img/customers/besseling.jpg")
      .feduzzi
        img(alt="feduzzi" src="/assets/img/customers/feduzzi.jpg")
      .bierfabriek-delft
        img(alt="al Bacaro" src="/assets/img/customers/bierfabriek-delft.jpg")
      .konijnenburg
        img(alt="Konijnenburg Wielen" src="/assets/img/customers/konijnenburg.jpg")
      .gusto
        img(alt="Casa Del Gusto" src="/assets/img/customers/gusto.jpg")
      .devint
      
      .repubblica
        img(alt="Repubblica Italiana" src="/assets/img/customers/repubblica.jpg")
  
  .contact
    .location
      h2 Location
      p Amsterdam
    .mail
      h2 Mail
      a(href="mailto:info@wecanworkithout.com") info@WeCanWorkItHout.com
    .phone
      .carli
        h2 Giuseppe Carli
        p (+31) 6 85554223
        a(href="mailto:carli@wecanworkithout.com") Carli@WeCanWorkItHout.com
      .cipressi
        h2 Giuseppe Cipressi
        p (+31) 6 10265324
        a(href="mailto:cipressi@wecanworkithout.com") Cipressi@WeCanWorkItHout.com
    .brochure
      a(href="/brochure/WeCanWorkItHout.pdf") Download our Brochure (.pdf)
