.contact
  .location
    h2 Location
    p Amsterdam
  .mail
    h2 Mail
    a(href="mailto:info@wecanworkithout.com") info@WeCanWorkItHout.com
  .phone
    .carli
      h2 Giuseppe Carli
      p (+31) 6 85554223
      a(href="mailto:carli@wecanworkithout.com") Carli@WeCanWorkItHout.com
    .cipressi
      h2 Giuseppe Cipressi
      p (+31) 6 10265324
      a(href="mailto:cipressi@wecanworkithout.com") Cipressi@WeCanWorkItHout.com
  .brochure
    a(href="/brochure/WeCanWorkItHout.pdf") Download our Brochure (.pdf)
