.customers
  .title
    h1#some some of the 
    h1#cust customers
  .logos
    .bacaro
      img(alt="al Bacaro" src="/assets/img/customers/bacaro.jpg")
    .marhaba
      img(alt="Marhaba" src="/assets/img/customers/marhaba.jpg")
    .lozio
      img(alt="l'Ozio" src="/assets/img/customers/lozio.jpg")
    .bierfabriek-ams
      img(alt="Bier Fabriek Amsterdam" src="/assets/img/customers/bierfabriek-ams.jpg")
    .besseling
      img(alt="Jeroen Besseling" src="/assets/img/customers/besseling.jpg")
    .feduzzi
      img(alt="feduzzi" src="/assets/img/customers/feduzzi.jpg")
    .bierfabriek-delft
      img(alt="al Bacaro" src="/assets/img/customers/bierfabriek-delft.jpg")
    .konijnenburg
      img(alt="Konijnenburg Wielen" src="/assets/img/customers/konijnenburg.jpg")
    .gusto
      img(alt="Casa Del Gusto" src="/assets/img/customers/gusto.jpg")
    .devint

    .repubblica
      img(alt="Repubblica Italiana" src="/assets/img/customers/repubblica.jpg")
