.portfolio
  div#pg1.design-articles.in-view
    .draw-container
      .clipboard-draw
        img(alt="Bill Clipboard" src="/assets/img/design/articles/clipboard.png")
      .reserved-draw
        img(alt="Reserved" src="/assets/img/design/articles/reserved.png")
      .cutting-board-draw
        img(alt="Cutting Board" src="/assets/img/design/articles/cuttingboard.png")
    .pic-container
      .clipboard-pic
        img(alt="Bill Clipboard" src="/assets/img/design/articles/clipboard.jpg")
      .reserved-pic
        img(alt="Reserved" src="/assets/img/design/articles/reserved.jpg")
      .cutting-board-pic
        img(alt="Cutting Board" src="/assets/img/design/articles/cuttingboard.jpg")

  div#pg2.design-bier-fabriek-1
    .bacheca-draw
      img(alt="Bacheca" src="/assets/img/design/bierfabriek/bacheca.png")
    .barrel-draw
      img(alt="Barrel" src="/assets/img/design/bierfabriek/barrel.png")
    .barrel-pic
      img(alt="Barrel" src="/assets/img/design/bierfabriek/barrel.jpg")
    .bacheca-pic
      img(alt="Bacheca" src="/assets/img/design/bierfabriek/bacheca.jpg")
    .info
      p.client Client: BierFabriek
      p.position Position: Amsterdam
      p.status Status: Realized
      p.date Date: June 2014

  div#pg3.design-bier-fabriek-2
    .photo
      img(alt="BierFabriek" src="/assets/img/design/bierfabriek/bierfabriek.jpg")
    .info
      p.client Client: BierFabriek
      p.position Position: Amsterdam
      p.status Status: Realized
      p.date Date: June 2014
