.header
  .nav
    ul
      li
        a(href="/pages/interior-design/") interior design
      li
        a(href="/pages/design/") design
      li
        a(href="/pages/art-graphic/") art and graphic
      li
        a(href="/pages/reviews.html") reviews
      li
        a(href="/pages/customers.html") customers
      li
        a(href="/pages/contact.html") contact
  
  .company-name
    a(href="/")
      h1 
        |we can work it 
        span ....
        |out

  .mobile-company
    a(href="/")
      h1 
        |we can work it 
        span H
        |out
