.header
  .nav
    ul
      li home
      li interior design
      li design
      li art and graphic
      li reviews
      li customers
      li contact
  .company-name
    h1 
      |we can work it 
      span h
      |out
  .large-screen
    h1 
      |we can work it 
      span aa
      |out
