.home-page-content
  .about
    .title
      h2
        |We can work it 
        span h
        |out 
    .description 
      p was founded in Amsterdam in 2013 with the mission of researching architectural solutions to create and renovate interiors or objects. With its strong eye for detail and artisitic inspiration, We Can Work It Hout is able to personalize each client's request in an unique way.
    .operating-areas
      p Our WORK can be divided in three major areas:
      
      .areas
        ul
          li
            a(href="/pages/interior-design/index.html") Interior Design
          li
            a(href="/pages/design/index.html") Design
          li
            a(href="/pages/art-graphic/index.html") Art and Graphics

    .we-define-it
      p We define it...
    
    .motto
      p
        |ar
        span t
        |chitectural design
        
