.portfolio
  div#pg1.lozio.in-view
    .lozio-img-1
      img(alt="L'ozio logo" src="/assets/img/interior/lozio/lozio3.jpg")
    .lozio-img-2
      img(alt="L'ozio" src="/assets/img/interior/lozio/lozio2.jpg")
    .lozio-img-3
      img(alt="L'ozio" src="/assets/img/interior/lozio/lozio1.jpg")
    .lozio-info
      p.client Client: L'ozio
      p.position Position: Amsterdam
      p.status Status: Realized
      p.date Date: July 2014

  div#pg2.marhaba
    .marhaba-img-1
      img(alt="Marhaba" src="/assets/img/interior/marhaba/marhaba1.jpg")
    .marhaba-img-2
      img(alt="Marhaba" src="/assets/img/interior/marhaba/marhaba2.jpg")
    .marhaba-img-3
      img(alt="Marhaba" src="/assets/img/interior/marhaba/marhaba3.jpg")
    .marhaba-info
      p.client Client: Eethuis Marhaba
      p.position Position: Amsterdam
      p.status Status: Realized
      p.date Date: November 2013

  div#pg3.private
    .private-img-1
      img(alt="Private" src="/assets/img/interior/private/private1.jpg")
    .private-img-2
      img(alt="Private" src="/assets/img/interior/private/private2.jpg")
    .private-img-3
      img(alt="Private" src="/assets/img/interior/private/private3.jpg")
    .private-info
      p.client Client: Private
      p.position Position: Amsterdam
      p.status Status: Realized
      p.date Date: March 2014
