.reviews
  .reviews-page-1
    .title
      h1 reviews
    .entree
      img(alt="de Entree" src="/assets/img/reviews/entree.jpg")
    .bierfabriek-delft
      img(alt="Bier Fabriek Delft" src="/assets/img/reviews/delft.jpg")
    .info
      p.reviewer Entree Magazine
      p.position Position: Nederland
      p.date Date: July 2014

  .reviews-page-2
    .giuseppe
      img(alt="Giuseppe Carli" src="/assets/img/reviews/giuseppe.jpg")
    .genius
      img(alt="Genius Magazine" src="/assets/img/reviews/genius.jpg")
    .info
      p.reviewer Genius-online
      p.position Position: Italian website
      p.date Date: June 2014
