.portfolio
  div#pg1.reviews-page-1.in-view
    .title
      h1 reviews
    .container
      .entree
        img(alt="de Entree" src="/assets/img/reviews/entree.jpg")
      .bierfabriek-delft
        img(alt="Bier Fabriek Delft" src="/assets/img/reviews/delft.jpg")
    .info
      p.reviewer Entree Magazine
      p.position Nederland
      p.date July 2014

  div#pg2.reviews-page-2
    .giuseppe
      img(alt="Giuseppe Carli" src="/assets/img/reviews/giuseppe.jpg")
    .genius
      img(alt="Genius Magazine" src="/assets/img/reviews/genius.jpg")
    .info
      p.reviewer Genius-online
      p.position Italian website
      p.date June 2014
