#splash.hide
  .nav-menu
    ul
      li
        a(href="/pages/interior-design/") interior design
      li
        a(href="/pages/design/") design
      li
        a(href="/pages/art-graphic/") art and graphic
      li
        a(href="/pages/reviews.html") reviews
      li
        a(href="/pages/customers.html") customers
      li
        a(href="/pages/contact.html") contact


  .close 
    p X
