.stripes
  .top-stripe

  .right-stripe
    .menu-wrap
      i.material-icons menu
    .drop-letter
      b H
    .up-down-nav
      i(class="material-icons" id="up") keyboard_arrow_up
      i(class="material-icons" id="down") keyboard_arrow_down
    
  .bottom-stripe
    .motto
      p
        |ar
        span t
        |chitectural design
        
    .copyright

  .left-stripe
