.stripes
  .top-stripe

  .right-stripe
    .menu-wrap
      i.material-icons menu
    .drop-letter
      b H

  .bottom-stripe
    .motto
      p
        |ar
        span t
        |chitectural design
        
    .copyright

  .left-stripe
