#art-graphic-portfolio
  .portfolio
    @include container
    overflow: scroll
    .art-bier-fabriek-delft, .art-bier-fabriek-amsterdam
      position: relative
      width: inherit
      height: inherit
      border-bottom: 1px solid $houtRed
    .art-bier-fabriek-delft
      .tiles
        display: flex
        flex-direction: row
        flex-wrap: wrap
        align-items: center
        justify-content: space-around

        .delft-art-1, .delft-art-2, .delft-art-3
          margin-top: 20px
          width: 16%
          max-width: 270px
          background-color: white
        img
          @include image-border

      .delft-art-4
        top: 30px
        position: relative
        width: 35%
        max-width: 600px
        background-color: white
        margin: 0 auto
        img
          @include image-border

      .info
        @include bottom-info

    .art-bier-fabriek-amsterdam
      //background-color: $purple
      .amsterdam-art-1
        position: absolute
        width: 25%
        max-width: 417px
        left: 20px
        top: 20px
        background-color: white
        img
          @include image-border
      .amsterdam-art-2
        position: absolute
        width: 60%
        max-width: 960px
        top: 20px
        right: 20px
        background-color: white
        img
          @include image-border
          max-width: 98%
          padding: 1%
      .info
        @include bottom-info

  @include sidebar-nav
