#contact
  .contact
    position: absolute
    top: 73px
    left: 82px
    width: calc(100vw - 210px)
    height: calc(100vh - 199px)
    //background-color: $yellow
    h2
      color: $houtRed
    p, a
      color: white
    h2,p,a
      text-align: center
    a
      display: block
    .location
      position: relative
      padding-top: 10vh
      h2
        margin: 0

    .brochure
      position: absolute
      bottom: 1vh
      width: 100%
      text-align: center
