#customers
  ::-webkit-scrollbar
    display: none
  .customers
    position: absolute
    top: 73px
    left: 82px
    width: calc(100vw - 210px)
    height: calc(100vh - 199px)
    overflow: scroll
    .title
      @include chapter-title
      #some
        padding-right: 70px
      #cust

    .logos
      position: relative
      margin: 50px 0
      display: flex
      flex-direction: row
      flex-wrap: wrap
      align-items: center
      justify-content: space-around
      background-color: white
      .bacaro, .marhaba, .lozio, .bierfabriek-ams, .besseling, .feduzzi, .bierfabriek-delft, .konijnenburg, .gusto, .repubblica, .devint
        width: 17%
        max-width: 200px
        min-width: 120px
        img
          //@include image-border
          padding: 10px
          max-width: calc(100% - 20px)
