#design-portfolio
  .portfolio
    @include container
    overflow: scroll
    .design-articles, .design-bier-fabriek-1, .design-bier-fabriek-2
      position: relative
      width: inherit
      height: inherit
      border-bottom: 1px solid $houtRed

    .design-articles
      display: flex
      flex-flow: row wrap

      .draw-container
        text-align: center
        width: 50%
        height: 100%
        display: flex
        flex-direction: column-reverse
        align-items: center
        justify-content: space-around
        .clipboard-draw, .cutting-board-draw, .reserved-draw
          width: 100%
          max-width: 400px
          img
            max-width: 100%

      .pic-container
        text-align: center
        width: 50%
        height: 100%
        display: flex
        flex-direction: column-reverse
        align-items: center
        justify-content: space-around
        .clipboard-pic, .reserved-pic, .cutting-board-pic
          width: 100%
          height: 30%
          max-width: 500px
          img
            max-height: 100%
            max-width: 100%

    .design-bier-fabriek-1
      display: flex
      flex-flow: row nowrap
      align-items: center
      justify-content: space-around
      @include maxw(650)
        flex-direction: column
        flex-wrap: wrap
      .bacheca-draw, .barrel-draw, .barrel-pic, .bacheca-pic
        text-align: center
        img
          padding-top: 10px
          max-height: 100%
          max-width: 100%
      .bacheca-draw
        order: 4
        width: 20%
        @include maxh(900)
          height: 90%
        @include maxw(650)
          width: 50%
          height: 45%
          //order:
      .barrel-draw
        order: 1
        width: 20%
        @include maxw(650)
          width: 50%
          height: 45%
          order: 2

      .barrel-pic
        order: 2
        width: 30%
        @include minw(1650)
          height: 90%
        @include maxh(900)
          height: 90%
        @include maxw(650)
          width: 50%
          height: 45%
          order: 1
      .bacheca-pic
        order: 3
        width: 20%
        transform: scaleX(-1)
        @include minw(1650)
          height: 90%
        @include maxh(900)
          height: 90%
        @include maxw(650)
          width: 50%
          height: 45%



      .info
        @include bottom-info

    .design-bier-fabriek-2
      display: flex
      flex-direction: row
      align-items: center
      justify-content: space-around
      .photo
        text-align: center
        width: 100%
        max-width: 414px
        height: 95%
        img
          max-width: 100%
          max-height: 100%
      .info
        @include bottom-info
        left: 50%
        transform: translate(-50%, 0)
        bottom: 5px

  @include sidebar-nav
