#design
  .design
    position: absolute
    top: 73px
    left: 82px
    width: calc(100vw - 210px)
    height: calc(100vh - 199px)
    //background-color: $green
    .title
      h1
        font-family: satisfy
        text-align: right
        margin: 0
        padding: 20px 30px 0 0 
    .description
      width: 50%
      margin: auto
      @include maxw(1350)
        width: 70%
      p
        padding: 30px
        margin-top: 100px
        text-align: center
        line-height: 1.6
