.header
  position: fixed
  display: inline-block
  background-color: black
  z-index: 2
  top: 0
  right: 0
  height: 64px
  width: 100vw
  margin: 0
  transition: height 1.5s ease-in-out

  .nav
    ul
      font-size: 0.9em
      list-style: none
      margin-top: 46px
      padding: 0 64px
      li
        display: inline
        padding: 0 10px
      .active
        color: white
        &:hover
          cursor: default
    @include maxw(1156)
      ul
        font-size: 0.7em
        margin-top: 78px
        margin-left: calc(100vw - 93px)
        width: 90px
        padding: 0
        li
          text-align: center
          background-color: $houtRed
          border-radius: 4px
          display: grid
          padding: 10px 0
          margin: 5px 2px
          a
            color: black
            &:hover
              color: white
        .active
          color: white
          &:hover
            cursor: default


  .company-name
    position: absolute
    bottom: 0
    right: 8px
    text-align: right
    text-transform: uppercase
    font-size: 1.3em
    h1
      color: white
      margin: 0
      padding: 0
      span
        visibility: hidden

#home-page
  .header
    height: calc(100vh - 128px)
    background-color: black
    .company-name
      bottom: 0

  .nav
      z-index: 1
