.header
  position: fixed
  background-color: black
  z-index: 2
  top: 0
  height: calc(100vh - 164px)
  width: calc(100vw - 36px)
  @include bp(larger)
    width: 100%
  margin: 0
  transition: height 1s ease-out
  //border-bottom: 2px solid $houtRed
  .nav
    ul
      font-size: 0.75em
      list-style: none
      margin-top: 46px
      padding: 0 64px
      li
        display: inline
        padding: 0 10px

  .company-name
    @include bp(larger)
      display: none
    h1
      margin: 0
      padding: 9px 0 7px 0
      text-transform: uppercase
      text-align: center
      font-size: 1.75em
      @include bp(small)
        font-size: 1.4em
      span
        color: $houtRed


  .large-screen
    display: none
    @include bp(larger)
      display: block
      text-align: right
      text-transform: uppercase
      margin-right: 8px
      h1
        position: absolute
        bottom: 0
        right: 8px
        margin: 0
        padding: 9px 0 7px 0
        font-size: 2.5em
        span
          visibility: hidden
