#home-page
  .home-page-content
    @include container

    .about
      height: inherit
      width: inherit
      //background-color: $teal
      .title
        position: relative
        padding: 7vh 0
        @include maxw(1279)
          padding: 5vh 0 3vh 0
        h2
          display: block
          text-align: center
          text-transform: uppercase
          margin: 0
          span
            color: $houtRed
      .description
        //background-color: green
        margin: auto
        width: 60%
        @include maxw(1400)
          width: 75%
        p
          padding: 0.3vh 1.2vw
          line-height: 1.5
          text-align: center
          @include maxw(1279)
            padding: 0.3vh 1.2vw
      .operating-areas
        margin: auto
        width: 30%
        position: relative
        margin-top: 6.5vh
        @include maxw(1400)
          width: 40%
          margin-top: 3.5vh
        p
          text-align: center
          padding: 0.3vh 1.2vw
          @include maxw(1280)
            padding: 0.3vh 1.2vw
        .areas
          //background-color: green
          text-align: center
          ul
            padding: 0
            margin: 4vh 0
            list-style: none
            li
              margin-top: 2vh

      .we-define-it
        position: relative
        p
          text-align: left

      .motto
        position: relative

        p
          text-align: right
          font-family: satisfy
          font-size: 22px
          span
            color: $houtRed
