#home-page
  .home-page-content
    position: absolute
    top: 73px
    left: 82px
    width: calc(100vw - 210px)
    height: calc(100vh - 199px)

    .about
      height: inherit
      width: inherit
      //background-color: $teal
      .title
        position: relative
        //background-color: green
        padding: 7vh 0
        h2
          display: block
          text-align: center
          text-transform: uppercase
          margin: 0
          span
            color: $houtRed
      .description
        //background-color: green
        margin: auto
        width: 50%
        @include maxw(1305)
          width: 70%

        p
          padding: 0.67934783vh 1.20772947vw
          line-height: 1.5
          text-align: center
      .operating-areas
        margin: auto
        width: 30%
        @include maxw(1305)
          width: 50%
        
        //background-color: $teal
        position: relative
        margin-top: 9vh
        p
          text-align: center
          padding: 0.67934783vh 1.20772947vw
        .areas
          //background-color: green
          text-align: center
          ul
            padding: 0
            margin: 5vh 0
            list-style: none
            li
              margin-top: 2vh

      .we-define-it
        position: relative
        p
          text-align: left

      .motto
        position: relative

        p
          text-align: right
          font-family: satisfy
          font-size: 22px
          span
            color: $houtRed
