#interior-design
  .interior-design
    position: absolute
    top: 73px
    left: 82px
    width: calc(100vw - 210px)
    height: calc(100vh - 199px)
    //background-color: $olive
    .title
      padding: 20px 30px
      h1
        font-family: satisfy
        text-align: right
        margin: 0
      #int
          padding-right: 70px
      #des

    h3
      text-transform: uppercase
      color: $houtRed
      padding: 0 0 0 2.41545894vw

    p
      max-width: 1024px
      padding: 0.67934783vh 1.20772947vw
      text-align: center

    .project
      margin-top: 6.52173913vh
      p
        margin-bottom: 0
      #WeCanWorkItHout
        margin-top: 0
        padding-top: 0
        text-transform: uppercase
        span
          color: $houtRed

    .realization
      margin-top: 6.52173913vh

    .analysis, .realization, .project
      width: 50%
      margin: auto
      @include maxw(1350)
        width: 70%

    .portfolio
      position: absolute
      bottom: 20px
      left: 50px
      a
        font-family: satisfy
        font-size: 1.5em
        color: white
        &:hover
          color: $houtRed
