#interior-design-portfolio
  .interior-design-portfolio
    .interior-design-lozio, .interior-design-marhaba, .interior-design-private
      display: none
      //background-color: $navy
      .lozio-img-1, .marhaba-img-1, .private-img-1
        position: absolute
        top: 0.67934783vh
        left: 1.20772947vw
        background-color: white
        width: 38.647343vw
        max-width: 250px
        img
          @include image-border
      .lozio-img-2, .marhaba-img-2, .private-img-2
        position: absolute
        width: 60.3864734vw
        max-width: 450px
        top: 19.701087vh
        right: 1.20772947vw
        background-color: white

        img
          @include image-border
      .lozio-img-3, .marhaba-img-3, .private-img-3
        position: absolute
        top: 50.951087vh
        left: 1.20772947vw
        background-color: white
        width: 38.647343vw
        max-width: 250px
        img
          @include image-border
      .lozio-info, .marhaba-info, .private-info
        @include bottom-info

    .interior-design-marhaba

      .marhaba-img-2

      .marhaba-img-3

      .marhaba-info

    .interior-design-private

      .private-img-1
        width: 30vw
      .private-img-2
        top: 15vh
        width: 55vw
      .private-img-3
        top: 40vh
        width: 30vw
      .private-info
