#interior-design-portfolio
  .portfolio
    @include container
    overflow: scroll
    .lozio, .marhaba, .private
      position: relative
      width: inherit
      height: inherit
      display: flex
      flex-wrap: wrap
      flex-direction: row
      align-items: baseline
      justify-content: space-around

      border-bottom: 1px solid $houtRed
      .lozio-info, .marhaba-info, .private-info
        @include bottom-info

      .lozio-img-1, .lozio-img-2, .lozio-img-3, .marhaba-img-1, .marhaba-img-2, .marhaba-img-3, .private-img-1, .private-img-2, .private-img-3
        padding: 5px
        text-align: center
        img
          max-height: 100%
          max-width: 100%

    .lozio

      .lozio-img-1
        animation-name: appear
        animation-duration: 800ms
        animation-timing-function: ease
        animation-fill-mode: forwards
        height: 45%
        width: 40%
        max-width: 500px

      .lozio-img-2
        animation-name: appear
        animation-duration: 800ms
        animation-timing-function: ease
        animation-fill-mode: forwards
        width: 55%
        height: 55%
        max-width: 640px
        //order: 3
      .lozio-img-3
        animation-name: appear
        animation-duration: 800ms
        animation-timing-function: ease
        animation-fill-mode: forwards
        width: 45%
        max-width: 500px
        height: 35%

    .marhaba

      .marhaba-img-1
        width: 30%
        height: 45%
        max-width: 700px
      .marhaba-img-2
        width: 46%
        height: 45%
        max-width: 700px
      .marhaba-img-3
        width: 55%
        height: 45%
        max-width: 700px

    .private
      align-items: flex-start
      .private-img-1
        height: 95%
        width: 25%
        max-width: 450px
      .private-img-2
        height: 95%
        width: 35%
        max-width: 500px
      .private-img-3
        height: 95%
        width: 35%
        max-width: 420px

  .stripes
    .right-stripe
      .up-down-nav
        display: block
        position: absolute
        bottom: 30px
        .material-icons
          font-size: 2em
          cursor: pointer

@keyframes appear
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes appear-slide
  0%
    opacity: 0
    transform: translateX(-200px)
  100%
    opacity: 1
    transform: translateX(0px)
