#interior-design-portfolio
  .portfolio
    @include container
    overflow: scroll
    .lozio, .marhaba, .private
      position: relative
      width: inherit
      height: inherit
      border-bottom: 1px solid $houtRed
      .lozio-info, .marhaba-info, .private-info
        @include bottom-info
      .lozio-img-1, .lozio-img-2, .lozio-img-3, .marhaba-img-1, .marhaba-img-2, .marhaba-img-3, .private-img-1, .private-img-2, .private-img-3
        position: absolute
        background-color: white
        img
          @include image-border

    .lozio
      .lozio-img-1
        top: 20px
        left: 20px
        width: 30%
        max-width: 500px
      .lozio-img-2
        top: 18%
        right: 20px
        width: 40%
        max-width: 640px
      .lozio-img-3
        left: 20px
        bottom: 20px
        width: 30%
        max-width: 500px

    .marhaba
      .marhaba-img-1
        top: 20px
        left: 20px
        width: 31%
      .marhaba-img-2
        top: 18%
        right: 20px
        width: 46%
      .marhaba-img-3
        left: 20px
        bottom: 20px
        width: 31%

    .private
      .private-img-1
        top: 5%
        left: 38%
        width: 20%
        max-width: 450px
      .private-img-2
        top: 5%
        right: 20px
        width: 35%
        max-width: 500px
      .private-img-3
        left: 20px
        top: 5%
        width: 29.4%
        max-width: 420px

  .stripes
    .right-stripe
      .up-down-nav
        display: block
        position: absolute
        bottom: 30px
        .material-icons
          font-size: 2em
          cursor: pointer
