#reviews
  .reviews
    .reviews-page-1
      //background-color: $blue
      .title
        h1
          font-family: satisfy
          text-align: right
          margin: 0
          padding: 1em 0.5em 1.5em 0
      .entree
        position: relative
        width: 180px
        background-color: white
        img
          @include image-border

      .bierfabriek-delft
        position: relative
        width: 180px
        background-color: white
        img
          @include image-border

      .info
        @include bottom-info

    .reviews-page-2
      //background-color: $teal
      .giuseppe
        position: relative
        width: 180px
        background-color: white
        img
          @include image-border
      .genius
        position: relative
        width: 180px
        background-color: white
        img
          @include image-border
      .info
        @include bottom-info
