#reviews
  .portfolio
    @include container
    overflow: scroll
    .reviews-page-1, .reviews-page-2
      position: relative
      width: inherit
      height: inherit
      border-bottom: 1px solid $houtRed
    .reviews-page-1
      //background-color: $blue
      .title
        @include chapter-title
      .entree
        position: absolute
        top: 20%
        left: 40px
        width: 39%
        max-width: 650px
        background-color: white
        img
          @include image-border
        @include maxw(1024)
      .bierfabriek-delft
        position: absolute
        top: 64px
        right: 40px
        width: 40%
        max-width: 660px
        background-color: white
        img
          @include image-border

      .info
        @include bottom-info

    .reviews-page-2
      //background-color: $teal
      .giuseppe
        position: absolute
        right: 40px
        top: 40px
        width: 20%
        max-width: 334px
        background-color: white
        img
          @include image-border
      .genius
        position: absolute
        top: 40px
        left: 40px
        width: 43%
        max-width: 640px
        background-color: white
        img
          @include image-border
      .info
        @include bottom-info

  @include sidebar-nav
