#reviews
  .portfolio
    @include container
    overflow: scroll
    .reviews-page-1, .reviews-page-2
      position: relative
      width: inherit
      height: inherit
      border-bottom: 1px solid $houtRed

    .reviews-page-1
      .title
        @include chapter-title
      .container
        display: flex
        flex-flow: row nowrap
        justify-content: space-around
        img
          max-width: 100%
          max-height: 100%
        @include maxw(850)
          flex-flow: column wrap
          justify-content: center
          align-items: center
        .entree
          width: 45%
          max-width: 650px
          @include maxh(900)
            height: 90%
          @include maxw(850)
          width: 60%
          height: 45%
        .bierfabriek-delft
          width: 50%
          max-width: 660px
          @include maxh(900)
            height: 90%
          @include maxw(850)
          width: 60%
          height: 45%

      .info
        @include bottom-info

    .reviews-page-2
      display: flex
      flex-flow: row nowrap
      justify-content: space-around
      align-items: center
      img
        max-width: 100%
        max-height: 100%
      .giuseppe
        order: 2
        width: 30%
        max-width: 334px
        @include maxh(900)
          height: 90%
      .genius
        width: 60%
        max-width: 640px
        @include maxh(900)
          height: 90%
      .info
        @include bottom-info

  @include sidebar-nav
