.stripes
  .top-stripe
    position: fixed
    top: 64px
    right: 0
    z-index: 3
    height: 9px
    width: calc(100vw - 73px)
    background-color: $houtRed

  .right-stripe
    position: fixed
    top: 0
    z-index: 3
    position: fixed
    right: 96px
    width: 32px
    height: calc(100vh - 96px)
    background-color: $houtRed
    .menu-wrap
      display: none
      height: 36px
      width: 36px
      .material-icons
        font-size: 175%
        text-align: center

    .drop-letter
      position: absolute
      width: 32px
      height: 36px
      b
        transition: margin 1s ease-out
        display: block
        margin-top: 16px
        font-size: 2.5em
        text-transform: uppercase
        text-align: center
        color: black
        @include stroke(2, white)
        &:hover
          cursor: pointer
          animation: none

  .bottom-stripe
    z-index: 3
    position: fixed
    bottom: 96px
    width: calc(100vw - 96px)
    height: 30px
    background-color: $houtRed

    .motto
      font-family: satisfy
      font-size: 22px
      p
        margin: 0 40px 0 0
        padding-top: 1px
        text-align: right
        span
          color: black

  .left-stripe
    z-index: 3
    width: 9px
    height: calc(100vh - 64px)
    background-color: $houtRed
    position: fixed
    left: 73px
    bottom: 0
